
/* overlay trigger */
#see {
	background:transparent url(../../../img/seeitinaction.png) no-repeat scroll 0 0;
	display:block;
	height:44px;
	overflow:hidden;
	text-indent:-999em;
	width:159px;
	margin:30px 0 0 0;
	cursor:pointer;
}

#see:hover {
	background-position:0 -44px ;
}

#see:focus {
	background-position:0 -88px ;
}


/* overlay root element */
#sheet { 
	background:#fff url(../../../img/hero/form.jpg) no-repeat 0 0; 
	width:800px;
	height:550px;
	position:absolute;
	font-size:11px;
	display:none;
	-webkit-box-shadow: 0 0 30px #777; 
	-moz-box-shadow: 0 0 30px #777; 	
}

/* some border radius for various elements and different browsers. CSS isn't perfect */
.rounded, #sheet input, .error { 
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	-o-border-radius: 5px; 
	-khtml-border-radius: 5px; 
}


/* tab pane layout */
.pane {
	width:570px;
	margin:55px auto 0 auto; 
	display:none;
	padding-top:300px;
}

/* individual panes */
#pane1 { padding-top:0; }
#pane2 { background:rgba(255, 255, 255, 0.8) url(img/code.png) no-repeat 15px 15px; }
#pane3 { background:rgba(255, 255, 255, 0.8) url(img/screenshot.jpg) no-repeat 15px -110px; }
#pane4 { background:rgba(255, 255, 255, 0.8) url(img/screenshot.jpg) no-repeat 15px -100px; }
#pane5 { background:rgba(255, 255, 255, 0.8) url(img/screenshot.jpg) no-repeat 0 -150px;  padding-top:150px; }

#pane5 .description {
	background-color:#fff;
	padding:2px 10px;
}

/* the form */
#myform {
	background-color:rgba(0, 0, 0, 0.55);	
	padding:15px;
	padding-bottom:10px;
	margin-bottom:7px;
}

#myform p {
	clear:left;	
}

fieldset {
	float:left;
	margin-left:15px;
	padding:0;
	border:0;
	width:245px;
}

.last {
	margin-right:0;
}

legend {
	color:#fff;
	font-size:20px;
	text-shadow:0 1px 0 #000;
	padding:0;
	margin-bottom:-3px;
}


label {
	display:block;		
	margin:3px;
	color:#ddd;
	font-size:11px;
	text-shadow:0 1px 0 #000;
}

input {
	border:1px solid;
	border-color:#ccc #ddd #ddd #ccc;	
	padding:6px;
	background-color:rgba(255, 255, 255, 0.9);	
	font-size:15px;
	color:#555;
	text-shadow:0 1px 0 #fff;
	width:90%;
}

input:focus {
	background-color:#fff;	
	color:#000;	
}

input[required] {
	font-weight:bold;		
}

/* validation error message */
.error {
	background-color:#E8FF6D;
	padding:4px;	
	color:#000;
	-webkit-box-shadow: #000 0 0 12px; 
	-moz-box-shadow: #000 0 0 12px; 		
}

/* ..with a pure CSS arrow */
.error em {
	border:10px solid;
	border-color:#E8FF6D transparent transparent;
	bottom:-17px;
	display:block;
	height:0;
	left:10px;
	position:absolute;
	width:0;		
}

/* field with validation error */
.invalid {
	background-color:rgba(221, 233, 255, 0.898) !important;
}

/* date input */
.date {
	width:193px;	
	background:#666 none repeat scroll 0 0;
	color:#fff;
	text-shadow:0 0 1px #000;
}

.date:focus {
	background-color:#333;		
	color:#fff;
}

/* datepicker trigger element */
.picktrigger {
	background:#333;
	cursor:pointer;
	display:block;
	float:right;
	height:32px;
	width:32px;
}

.picktrigger:hover {
	background:#000;		
}

.high {
	padding:15px 0 0 15px;		
	clear:both;
}

/* override slider width from external stylesheet */
#sheet .slider {
	width:175px;
}

/* buttons */
#sheet button {
	background:#0150D1 url(img/h30.png) repeat-x 0 0;
	border:1px solid #d1ddc7;
	color:#fff;
	font-size:14px;
	font-weight:bold; 
	padding:6px 15px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 #000;
	cursor:pointer; 
	height:auto;
	outline:0;
}

#sheet button:hover {
	background-position:0 -12px;
}

#sheet button:active {
	background-position:0 -30px;
}


/* tabs */
#navi {
	background:#f4f4f4 url(img/navi.png) repeat-x 0 0;
	position:absolute;
	bottom:2px;
	height:120px;
	width:640px;
	padding:0 80px;
}

#navi a  { 
	display:block;
	float:left;
	text-align:center;
	color:#666;
	width:125px;
	cursor:pointer;
}

#navi a.current {
	background:url(img/arrow.png) no-repeat 50% 0;	
}

#navi a:hover {
	color:#000;		
}

#navi img {
	display:block;		
	margin-top:10px;
}

/* make some elements sit over the mask */
.error, #calroot {
	z-index:10000;	
}

/* overlay close button */
div.close {
	right:-15px;
	top:-15px;	
}
