

/* a little wider title icon for these */
.col {
	float:left; 			 
	margin-right:40px;
}

.last {
	margin-right:0;		
}

.clear {
	height:10px;
	clear:both;
}

.area {
	padding:30px 50px 20px 50px;
	background-color:#f7f7f7;
	color:#000;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-moz-box-shadow:inset 0 0 6px #666;
	-webkit-box-shadow:inset 0 0 6px #666;
}

.area h2 {
	margin:10px 0 -12px 0;		
	font-weight:bold;
}

.area h3 {
	margin:10px 0 -5px 0 !important;		
	font-weight:bold;
}

.area img {
	float:left;
	margin:0 20px 0 0;
}

#form {
	padding:30px 40px 20px 40px;
	background-color:#00465E;
	color:#fff;
	text-shadow:0 0 1px #000;
	border:1px solid #000;
	-moz-box-shadow:inset 0 0 16px #000;
	-webkit-box-shadow:inset 0 0 16px #000;
}

#form h3 { 
	color:#fff;	
}

#form .col {
	width:270px;		
}

#content .area p {
	font-size:14px;	
}

.herotitle h3 {
	font-size:28px;
	color:#A6A5A5;
	font-weight:normal; 
}

.herotitle h2 {
	color:#406871;
	font-size:55px;
	margin:0 0 -10px 0;
}

.herotitle span {
	color:#000;
}

#form .herotitle h3 {
	color:#E0E0E0;	
}

#form .herotitle h2 {
	color:#A8D1F7;	
}

#form .herotitle span {
	color:#fff;	
}


#release {
	background:#f7f7f7 url(../img/global/gradient/h500_reverse.png) repeat-x 0 -180px;
	border:1px solid #ccc;
	margin-top:100px;		
	font-size:13px;
}

#release .image {
	margin-bottom:-20px;
}

#release .col {
	width:420px;	
	margin-bottom:40px;
}

#content .punch {
	font-size:18px !important;		
}

#release .punch {
	text-shadow:1px 1px 1px #fff;	
}

#releasefooter {
	margin:20px 0;
	text-align:center;
	margin-left:-20px;
}

#releasefooter a {
	font-size:18px;
	text-decoration:none;
	margin-left:20px;
}

#releasefooter a:hover {
	text-decoration:underline;
}
